.pricingContainer {
  margin-top: 5rem;
  .banner {
    height: 150px;
    background: linear-gradient(to right, #882ae2, #8f4de8, #5204e0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    h1 {
      font-size: 3em;
      margin: 10px auto;
    }
    div {
      border-radius: 50px;
      padding: 5px 8px;
      margin: auto;
      width: fit-content;
      display: flex;
      background: #fff;
      gap: 5px;
      span {
        border-radius: 50px;
        width: 100%;
        align-items: center;
        padding: 5px 12px;
        justify-content: center;
        display: flex;
        cursor: pointer;
        transition: background 0.3s ease;
      }
    }
  }
  .cardsContainer {
    display: flex;
    gap: 30px;
    justify-content: center;
    overflow: hidden;
    padding: 1rem 0;

    .card {
      border: 1px solid #ddd;
      border-radius: 10px;
      width: 350px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      div {
        background-color: #f7f8fc;
        padding: 20px;

        h2 {
          font-size: 1.4em;
          color: #000;
          margin: 0;
        }
        h3 {
          font-size: 2em;
          color: purple;
          margin: 1rem 0;
        }
        button {
          background: #000;
          color: #fff;
          padding: 7px 20px;
          margin: 5px 0 0 0;
          transition: transform 0.5s ease-in-out;
        }
        button:hover {
          transform: scale(1.2);
        }
      }

      ul {
        list-style: none;
        padding: 10px 25px;
        margin: 2rem 0 0 0;

        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin: 0 0 5px 0;
        }
      }
    }
  }
}
