html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #202020;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: inherit;
  text-decoration: none;
}
.btn-primary {
  all: unset;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  border-radius: 8px;
  padding: 0 24px;
  background: #6153cd;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  height: 45px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
