.dashboardLayout {
  .dashboard {
    display: flex;
    .dashboardBody {
      background-color: #fff;
      border-radius: 30px;
      width: 85%;
      height: 96vh;
      margin: 2vh 1% 0 auto;
    }
  }
}
