.dashboardLayout{
    .dashboard{
        display: flex;
        .dashboardBody{
            background-color: #fff;
            border-radius: 30px;
            width: 88%;
            height: 96vh;
            margin: 1vh 1% 0 auto;
        }   
    }
}