.classContainer {
  // display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  color: #000;
  gap: 1.5rem;

  .divider {
    border: 0.4px solid #dcdcdc;
    margin: 20px 0;
  }

  .cardsWrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    .cardWrapper {
      transition: all 0.2s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      cursor: pointer;
      border-radius: 10px;
      color: #fff;
      width: fit-content;
      padding: 5px 10px;
      .mainTitle {
        font-size: 1.8em;
        font-weight: 600;
        margin: 0;
      }
      .innerInfo {
        display: flex;
        justify-content: space-between;
        .title {
          font-size: 1em;
          font-weight: 500;
        }
        .titleInfo {
          margin: 0 0 0 10px;
        }
      }
    }
    .cardsWrapper:hover {
      transform: scale(1.1);
    }
  }
}
