.tableContainer {
  .boldCell {
    font-weight: 600;
  }
  .rowBackground {
    background-color: #dcdcdc;
  }
}
.record{
  width: 10px;
  margin: 0 3px;
  display: flex;
  border-radius: 50%;
  background: gray ;
  height: 10px;
}