.loginModal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 720px;
  max-width: 900px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  .main {
    height: 520px;
    width: 850px;
    border-radius: 10px !important;
  }

  .form1 {
    padding: 40px;
  }

  img {
    width: 350px;
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: 1;
    border-radius: 10px 0 0 10px;
  }

  form {
    padding: 1rem 5%;

    .remem {
      display: flex;
      font-size: smaller;
      justify-content: space-between;
      align-items: center;
      max-height: 20px;
    }

    .log {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
  }
  .hirexl {
    display: flex;
    align-items: center;
    font-size: 11px;
    flex-direction: column;

    .icons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 0;
    }
  }

  .closeButton {
    position: absolute;
    top: -6px;
    z-index: 99;
    background-color: black;
    color: white;
    cursor: pointer;
    right: -6px;
    padding: 4px;
    font-size: 18px;
    border-radius: 50%;
  }
}

.loginWrapper {
  form {
    padding: 1rem 5%;

    .remmember {
      display: flex;
      font-size: smaller;
      justify-content: space-between;
      align-items: center;
      max-height: 20px;
    }

    .loginBtn {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
  }
  .createAccount {
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      color: blue;
      cursor: pointer;
    }
    .icons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 0;
    }
  }
}
.signupModal {
  padding: 20px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }
  }

  .formAcc {
    max-height: 350px;
    display: flex;
    flex-direction: column;

    Button {
      max-width: 150px;
      margin: auto;
    }
  }
}
