.authWrapper {
  height: auto;
  width: 65vw;

  .popupInnner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .formWrapper {
      padding: 1rem 2rem;
      width: 55%;
      form {
        .inner {
          display: flex;
          gap: 10px;
          align-items: center;
        }
        .btnWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            margin: 1rem 0 0 0;
          }
          span {
            color: rgb(95, 46, 207);
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }

  .imgWrapper {
    // height: 100%;
    width: 45%;
    position: relative;
    background-color: #c4beffae;
    img {
      object-fit: contain;
    }
  }
  .closeIcon {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.8em;
    z-index: 999;
  }
}
